﻿<!DOCTYPE html>
<html lang="en">
  <head>
	<meta charset="utf-8">
	<title>@ViewBag.Title</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- Le styles -->
	@* 
	@Styles.Render("~/Content/themes/base/css", "~/Content/css")
	@Styles.Render("~/Content/css")
	*@
	@Styles.Render("~/bundles/twitter-bootstrap-css")

	<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
	<!--[if lt IE 9]>
	  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Le fav and touch icons -->
	<link rel="shortcut icon" href="~/Content/icons/favicon.ico">
	<link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/icons/apple-touch-icon-144-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/icons/apple-touch-icon-114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/icons/apple-touch-icon-72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="~/Content/icons/apple-touch-icon-57-precomposed.png">
  </head>


  <body>
	<div id="wrap">
		<header>
			<nav class="navbar navbar-default" role="navigation">
			  <div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button 
						type="button" class="navbar-toggle" 
						data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="/">Tracker@HolisticWare</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
					<li class="active">
						<a href="/">Home</a>
					</li>
					<li>
						<a href="/Tests">Tests</a>
					</li>
					<li>
						<a href="/Home/About">About</a>
					</li>
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
					  <ul class="dropdown-menu">
						<li class="active">
							<a href="/">Home</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/Tests">Tests</a>
						</li>
						<li class="divider"></li>
						<li>
							<a href="/Home/About">About</a>
						</li>
					  </ul>
					</li>
				  </ul>
				  <form class="navbar-form navbar-left" role="search">
					<div class="form-group">
					  <input type="text" class="form-control" placeholder="Search">
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				  </form>
				  <ul class="nav navbar-nav navbar-right">
					<li><a href="#">Link</a></li>
					<li class="dropdown">
					  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
					  <ul class="dropdown-menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Separated link</a></li>
					  </ul>
					</li>
				  </ul>
				</div><!-- /.navbar-collapse -->
			  </div><!-- /.container-fluid -->
			</nav>
		</header>

	  <!-- Begin page content -->




	  <div class="container">
			@RenderBody()
	  </div>
			
	  <div id="push">
	  </div>
	</div>

	<div id="footer">
	  <div class="container">
		<p class="muted credit">
			Designed, Developed and Optimized by  
			<a href="http://holisticware.net">HolisticWare http://holisticware.net</a>
		</p>
	  </div>
	</div>


	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/twitter-bootstrap-js")
	@Scripts.Render("~/bundles/signalr-js")
	@RenderSection("scripts", required: false)

  </body>
</html>