﻿<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<title>@ViewBag.Title</title>
	@Styles.Render("~/Content/css")
	@Styles.Render("~/bundles/twitter-bootstrap-css")
	@Styles.Render("~/bundles/bootstrap-theme")	

	<style type="text/css">

	  /* Sticky footer styles
	  -------------------------------------------------- */

	  html,
	  body 
	  {
		height: 100%;
		/* The html and body elements cannot have any padding or margin. */
	  }

	  /* Wrapper for page content to push down footer */
	  #wrap 
	  {
		min-height: 100%;
		height: auto !important;
		height: 100%;
		/* Negative indent footer by it's height */
		margin: 0 auto -60px;
	  }

	  /* Set the fixed height of the footer here */
	  #push,
	  #footer 
	  {
		height: 3%;
		text-align: center;
	  }
	  #footer 
	  {
		background-color: #f5f5f5;
	  }
	</style>
</head>
<body>
	<div id="wrap">
		<header>
			<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			  <div class="container">
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="#">Project name</a>
				</div>
				<div class="navbar-collapse collapse">
				  <form class="navbar-form navbar-right" role="form">
					<div class="form-group">
					  <input type="text" placeholder="Email" class="form-control">
					</div>
					<div class="form-group">
					  <input type="password" placeholder="Password" class="form-control">
					</div>
					<button type="submit" class="btn btn-success">Sign in</button>
				  </form>
				</div><!--/.navbar-collapse -->
			  </div>
			</div>
		</header>

	  <!-- Begin page content -->
	  <div class="container">
			@RenderBody()
	  </div>
			
	  <div id="push">
	  </div>
	</div>

	<div id="footer">
	  <div class="container">
		<p class="muted credit">
			Designed, Developed and Optimized by  
			<a href="http://holisticware.net">HolisticWare http://holisticware.net</a>
		</p>
	  </div>
	</div>


	@Scripts.Render("~/bundles/modernizr")
	@Scripts.Render("~/bundles/jquery")
	@Scripts.Render("~/bundles/twitter-bootstrap-js")
	@Scripts.Render("~/bundles/signalr-js")
	@RenderSection("scripts", required: false)

</body>
</html>
