@{
	ViewBag.Title = "Index";
	//Layout = "~/Views/Shared/_LayoutTwitterbootstrap.cshtml";
}

	<!-- Main jumbotron for a primary marketing message or call to action -->
	<div class="jumbotron">
	  <div class="container">
		<h1>Tracker@HolisticWare</h1>
		<p>
			Tracker System Application - application suite for employee and asset location tracking.
		</p>
		<p><a class="btn btn-primary btn-lg" role="button">Learn more &raquo;</a></p>
	  </div>
	</div>


	  <!-- Example row of columns -->
	  <div class="row">
		<div class="col-md-4">
			<h2>Content</h2>
				<ul>
					<li>
						<a href="Home/About">About</a>
					</li>
					<li>
						<a href="Tests">Tests</a>
					</li>
				</ul>
		</div>
		<div class="col-md-4">
		  <h2>Placeholder 1</h2>
		  <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
	   </div>
		<div class="col-md-4">
			<h2>Placeholder 2</h2>
				<p>
				</p>
				<p>
					<a class="btn btn-default" href="#" role="button">View details &raquo;</a>
				</p>
		</div>
	  </div>

