@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_LayoutTwitterbootstrap.cshtml";
}

<header>
</header>
<header>
	<h1>About</h1>
</header>
<body>
	<section>
		<h2>Technology</h2>

		<ul>
			<li>
				Technology
				<ul>
					<li>
						ASP.net MVC 4, .net 4
					</li>
					<li>
						Service Layer (Remote API)
						<ul>
							<li>
								WebAPI
							</li>
							<li>
								SignalR
							</li>
						</ul>
					</li>
					<li>
						FrontEnd UI / UX 
					</li>
				</ul>
			</li>
		</ul>

		<p>			
			<a href="~/Tests">See tests: </a>
		</p>
	</section>
</body>
